<center>
<% counter = 1 %>
<%# row_classes = [" bottom", " top bottom", " top"] %>
<%# col_classes = [" right", " right left", " left"] %>
<% row_classes = [" bottom", " top"] %>
<% col_classes = [" right", " left"] %>
<% (size-2).times do %>
  <% row_classes.insert(1, " top bottom") %>
  <% col_classes.insert(1, " right left") %>
<% end %>
<% col_classes_orig = col_classes.clone %>
<form class="" action="/make_move" method="post">
  <table>
    <% board.each do |x| %>
      <% if counter == 1 %>
        <tr>
      <% end %>
      <td class="cell<%=row_classes[0]%><%=col_classes[0]%>">
        <% col_classes.delete_at(0) %>
        <!-- <input type="radio" name="pos" <% unless x[1] == " " %>disabled<% end %> value="<%= x[0] %>"> -->
        <% if x[1] == " " %>
            <%=x[1]%>
        <% else %>
          <%=x[1]%>
        <% end %>
      </td>
      <% if counter % size == 0 %>
        </tr>
        <% row_classes.delete_at(0) %>
        <% col_classes = col_classes_orig.clone %>
      <% end %>
      <% counter += 1%>
    <% end %>
  </table>

<h1><%=winner%> wins!</h1>
<a href="/">
  <button class="btn" type="button">New Game</button>
</a>
</center>
